<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h1>change password</h1>
        <div class="container" style="height: 150px; width: 220px; margin: 200px 500px; border: 1px solid grey; border-radius: 20px;">
            <div class="change-password">
                <form action="/changepassword/<%= id%>" method="post">
                    <input  type="password" placeholder="New Password" name="password" style="margin: 20px 20px;"><br>
                    <input id="forgotbtn" type="submit" value="Change Password" style="margin: 20px 20px;">
                </form>
             </div>
        </div>
</body>
</html>