<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2>forgot password</h2>
    <div class="container" style="height: 180px; width: 220px; margin: 200px 500px; border: 1px solid grey; border-radius: 20px;">
        <div class="forgot">
            <form action="/forgot" method="post">
                <input id="forgotemail" type="email" placeholder="email" name="email" style=" margin-top: 10px; margin-left: 10px;"><br>
                <input id="forgotbtn" type="submit" value="send mail" style="margin: 20px 20px;">
                <p> <a href="/signin">signin</a>| <a href="/signup">signup</a></p>
            </form>
         </div>
    </div>
    
</body>
</html>