<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->

</head>
<body>
     <div id="main">
          <div class="center">
            <div class="left">
              <h1>Hello & Welcome</h1>
              <h2>So Glad To See You Here</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quo necessitatibus corporis unde, quae fuga magnam neque doloribus voluptas, natus adipisci dolorem? Beatae velit repudiandae, quis non dolores soluta! Voluptates.</p>
            </div>
            <div class="right">
              <div class="container" style="height: 350px; width: 300px; margin: 50px 100px; background: linear-gradient(rgb(235, 168, 114),rgb(240, 214, 157), rgb(127, 211, 200)); border: 1px solid grey; border-radius: 20px;">
                <h1 style="margin: 20px 40px;">Please Sign Up</h1>
                    <form action="/signup" method="post">

                    <input type="text" placeholder="email" name="email" style="margin-left: 40px; margin-top: 20px; height: 30px; width: 220px;"><br>
                    <input type="text" placeholder="username" name="username" style="margin-left: 40px; margin-top: 20px; height: 30px; width: 220px;"><br>
                    <input type="password" placeholder="password" name="password" style="margin-left: 40px; margin-top: 20px; height: 30px; width: 220px;"><br>
                    <a href="/forgot" style="margin-left: 140px; margin-top: 40px; text-decoration: none;">Forgot password?</a><br>
                    
                    <input type="submit" value="singup" style="margin-left: 40px; margin-top: 20px; margin-bottom: 20px; height: 30px; width: 220px;">
                  
                  </form>

                  <!-- <button type="button" class="btn btn-secondary">Secondary</button><br> -->
                   <!-- <a href="/forgot">Forgot password</a><br> -->
                   <a href="/signin" style="text-decoration: none; margin-left: 10px;">Already have an account?</a>
                </div>
            </div>
          </div>
     </div>

     <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> -->

</body>
</html>